:root {
  --clr: #419ebb;
  --max-w-tablet: 223px;
  --max-w-mob: 91px;
}
.mercury {
  --clr: #419ebb;
  --max-w-tablet: 223px;
  --max-w-mob: 91px;
}
.venus {
  --clr: #eda249;
  --max-w-tablet: 253px;
  --max-w-mob: 134px;
}
.earth {
  --clr: #6d2ed5;
  --max-w-tablet: 285px;
  --max-w-mob: 153px;
}
.mars {
  --clr: #d14c32;
  --max-w-tablet: 213px;
  --max-w-mob: 109px;
}
.jupiter {
  --clr: #d83a34;
  --max-w-tablet: 329px;
  --max-w-mob: 200px;
}
.saturn {
  --clr: #cd5120;
  --max-w-tablet: 263px;
  --max-w-mob: 139px;
}
.uranus {
  --clr: #1ec1a2;
  --max-w-tablet: 290px;
  --max-w-mob: 156px;
}
.neptune {
  --clr: #2d68f0;
  --max-w-tablet: 285px;
  --max-w-mob: 153px;
}
